In [ ]:
pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 76.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=3c73f0692a6fe3a94fe22440efb680b591bcab479ddf98bb9f120cd1417d550e
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [ ]:
#Import needed functions
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [16]:
df = pd.read_csv('/content/drive/MyDrive/dataset/at.csv')#Declare df as the dataset

In [17]:
df

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,01/01/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,01/02/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,01/05/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,01/06/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,01/06/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [18]:
df['business'] = df['NewsType'].apply(lambda x: 1 if x == 'business' else 0)

In [19]:
df

,Article,Date,Heading,NewsType,business
0,KARACHI: The Sindh government has decided to b...,01/01/2015,sindh govt decides to cut public transport far...,business,1
1,HONG KONG: Asian markets started 2015 on an up...,01/02/2015,asia stocks up in new year trad,business,1
2,HONG KONG: Hong Kong shares opened 0.66 perce...,01/05/2015,hong kong stocks open 0.66 percent lower,business,1
3,HONG KONG: Asian markets tumbled Tuesday follo...,01/06/2015,asian stocks sink euro near nine year,business,1
4,NEW YORK: US oil prices Monday slipped below $...,01/06/2015,us oil prices slip below 50 a barr,business,1
...,...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,1
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business,1
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business,1
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business,1
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business,1

In [20]:
df.groupby('NewsType').describe()

         business
            count mean  std  min  25%  50%  75%  max
NewsType
business   1284.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
sports     1408.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [21]:
x_train, x_test, y_train, y_test = train_test_split(df.Article, df.business)

In [22]:
cv = CountVectorizer()
x_train_count = cv.fit_transform(x_train.values)

In [23]:
x_train_count

<2019x24551 sparse matrix of type '<class 'numpy.int64'>'
	with 348227 stored elements in Compressed Sparse Row format>

In [ ]:
model = MultinomialNB() #Declare model as variable for MultinomialNB
model.fit(x_train_count, y_train)

In [25]:
news = ["BEIJING: The New Development Bank plans to co-finance infrastructure projects"]
news_bus_count = cv.transform(news)
model.predict(news_bus_count)

array([1])

In [26]:
x_test_count = cv.transform(x_test)
model.score(x_test_count, y_test)

0.9955423476968797

In [28]:
from sklearn.metrics import confusion_matrix

x_test_count = cv.transform(x_test)

predictions = model.predict(x_test_count)


confusion = confusion_matrix(y_test, predictions)

tn, fp, fn, tp = confusion.ravel()

# Print the values
print("True Negatives:", tn)
print("False Positives:", fp)
print("False Negatives:", fn)
print("True Positives:", tp)

True Negatives: 368
False Positives: 2
False Negatives: 1
True Positives: 302